<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Car & cars </h1>

        <table>
            <tr>
                <th:block th:each="car : ${cars}">
                <td><h3 th:text="${car.getMarka()}"></h3> </td>
                <td> <h4 th:text="${car.getModel()}"></h4> </td>
                <td> <h4 th:text="${car.getSeries()}"></h4>  </td>
                </th:block>
            </tr>
        </table>

</div>
</body>
</html>